<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title ?? "Document"}}</title>
    @vite(["resources/css/config.css"])
    @if($slots.assets) 

    {{{await $slots.assets()}}}

    @end
</head>
<body>

    @if($slots.content) 

    {{{await $slots.content()}}}

    @end

</body>
</html>