<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title ?? "Document"}}</title>
    
    @vite(["resources/css/config.css"])
    
    @if($slots.assets) 

    {{{await $slots.assets()}}}

    @end
</head>
<body>

    <header>
        <ul>
            <li>
                <a href="{{route('admin.index')}}">Dashboard-Biens</a>
            </li>

            <li>
                <a href="{{route('admin.option.index')}}">Dashboard-Options</a>
            </li>
        </ul>
    </header>
    
    @if($slots.content) 

    {{{await $slots.content()}}}

    @end

</body>
</html>