<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title ?? "Document"}}</title>
    
    @vite(["resources/css/config.css"])
    
    @if($slots.assets) 

    {{{await $slots.assets()}}}

    @end
</head>
<body>

    <header>
        <ul>
            <li>
                <a href="{{route('home')}}">home</a>
            </li>
            <li>
                <a href="{{route('admin.index')}}">Dashboard-Biens</a>
            </li>

            <li>
                <a href="{{route('admin.option.index')}}">Dashboard-Options</a>
            </li>
            @if(auth.user) 
            <li>
                <span>{{auth.user.fullName}}</span>
            </li> 
            @end
        
        </ul>
            @if(auth.user) 
                <form action="{{route('logout')}}" method="POST">
                    {{csrfField()}}
                    <button>deconnexion</button>
                </form> 
            @end
    </header>
    
    @if($slots.content) 

    {{{await $slots.content()}}}

    @end

</body>
</html>