

@admin.base({title:"Create property"}) 

    @slot("assets")
        @vite(['resources/css/admin/create.css'])
    @end

    @slot("content")
    
        <h1 id="page_title" >{{property.id?"Update Property":"Create New Property"}} </h1>
       
        @!admin.form({property,options,propertyOptions})

    @end

@end