h1 {
    margin-block:0.7rem;
    font-size: 2.5rem;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 0.4rem;
}

#cards {
    display: flex; 
    flex-wrap: wrap;
    margin-block: 0.3rem;
    padding: 0.5rem;

    ul {
       border: solid 0.1rem gray;
       margin-inline: 0.2rem;
       padding: 0.5rem;
       margin-block: 0.3rem;
    }

    ul li:nth-child(1) {
        font-size: 1.5rem;
    }

    ul li {
        list-style: none;
        margin-block: 0.2rem;
    }
}

#form_container {

    width: 100%;
    form {
        width:100%;
        display: flex;
        flex-wrap: wrap;
        padding: 0.7rem;
        
    }

    form :is(input,button) {
        flex-grow: 1;
        padding: 0.5rem;
        margin:0.2rem
    }

}

#empty {
    font-size: 4rem;
    text-align: center;
    width: 100%;
    margin: 0.2rem;
    text-transform: uppercase;
}