
#welcom {
    width: 100%;
    padding: 1rem;
    margin-block: 1rem;

    h1 {
        font-size: 4rem;
        text-align: center;
    }

    p {
        font-size: 1.6rem;
        text-align: center;
    }
}

h2 {
    padding: 1rem;
}